/* About Section styles */
.about-section {
    background-color: #0077B6;
    color: var(--text-color);
    text-align: center;
    padding: 40px 0;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.section-heading {
    color: #F5F5F5;
    font-size: 2rem;
}

.about-text {
    font-size: 1.2rem;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    color: #F5F5F5;
}
