/* Review Form styles */
h2 {
  font-size: 30px;
  color: #333333; /* Dark Gray */
  text-align: center;
  margin-bottom: 20px;
}

form {
  background-color: #0077B6; /* Light Blue */
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 80%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the form horizontally */
}

label {
  display: block;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  color: #333333; /* Lime Green */
}

input[type="text"],
textarea {
  width: 60%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #333333; /* Lime Green */
  border-radius: 5px;
  margin-top: 5px;
  color: #333333; /* Lime Green */
}

button {
  background-color: #0077B6; /* Light Blue */
  color: #333333; /* Lime Green */
  font-size: 20px;
  border: 1px solid #333333; /* Lime Green */
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #F5F5F5; /* Lime Green */
  color: #0077B6; /* White */
}

/* Style the file upload input */
input[type="file"] {
  width: 60%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #333333; /* Lime Green */
  border-radius: 5px;
  margin-top: 5px;
  color: #333333; /* Lime Green */
  display: block; /* Make it a block element */
  margin: 0 auto; /* Center the file upload input horizontally */
}

.author input {
  width: 25%;
}
